@media screen and (max-width: 726px) {
    .col-4,.col-3 {
        width: 100%;
    }
    .container {
padding: 20px;
    }
    .projects__experience-item {
        width: 100%;
    }
    .hero__subtitle {
        font-size: 14px;
    }
                    {
        color: #404149;
        margin-top: -50px;
        margin-bottom: 60px;
    }
    .projects .title {
        
    }
    .contacts__row {
        flex-wrap: wrap;
    }
    .request__row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .request__row button {
        margin-top: 30px;
    }
    .partners__row {
        flex-wrap: wrap;
    }

    .partners-item {
        width: 100%;
        margin-bottom: 40px;
    }
    .partners-item img {
        object-fit: contain;
    }
    .partners,.reviews {
        overflow: hidden;
    }
    .reviews__row {
        padding: 40px 20px 0;
    }
   .contacts-item {
       margin-bottom: ;
   } 
}

